<div class="container">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div
      class="main-container d-flex flex-column justify-content-center align-items-center"
    >
      <h2 class="text-center"><b>Thank You for Registering</b></h2>
      <div class="formGroup" *ngIf="authService.userData as user">
        <p class="text-center">
          We have sent a confirmation email to <strong>{{ user.email }}</strong
          >.
        </p>
        <p class="text-center">
          Please check your email and click on the link to verfiy your email
          address.
        </p>
      </div>
      <div class="formGroup mt-3">
        <button
          type="button"
          class="btn btn-primary"
          (click)="authService.SendVerificationMail()"
        >
          <i class="fas fa-redo-alt"></i>
          Resend Verification Email
        </button>
      </div>
      <div class="redirectToLogin mt-3">
        <span
          >Go back to?<span
            class="redirect"
            routerLink="/sign-in"
            role="button"
          >
            Sign in</span
          ></span
        >
      </div>
    </div>
  </div>
</div>
